label {
    min-width: 10em;
}

svg {
    background-color: white;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    opacity: 0;
}