<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: layout">
    <title id="pageTitle">Adaptive Survey</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/layout :: header"></div>

    <div class="jumbotron">
        <h1>AdapQuest Demo</h1>
        <p>This demo is not intended to be a final product or usable in a production environment.</p>

        <p>Adaptive Surveys available:</p>

        <ul>
            <li th:each="code : ${codes}">
                <a th:href="@{/demo/start/}+${code}" th:text="${code}"></a>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/layout :: footer"></div>
</div>

<script>

</script>

</body>
</html>