<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: layout">
    <title id="pageTitle">Adaptive Survey</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/layout :: header"></div>

    <div class="jumbotron" th:if="${error != null}">
        <p>Error</p>
        <p th:text="'Code:'+${code}"></p>
        <p th:text="'Error:'+${error}"></p>
    </div>

    <form method="post" th:action="''">
        <input th:name="questionId" th:value="${question.id}" type="hidden">
        <div class="jumbotron">
            <div>
                <h1 th:text="'Q' + ${question.id}"></h1>
                <p th:text="${question.explanation}"></p>
                <p th:text="${question.question}"></p>

                <ul>
                    <li th:each="answer : ${question.answers}" th:with="aid = ${'a'+answer.id}">
                        <input th:id="${aid}" th:name="answerId" th:value="${answer.id}" type="radio"/>
                        <label th:for="${aid}" th:text="${answer.text}"></label>
                    </li>
                </ul>
            </div>

            <div th:if="${state != null && show}">
                <h3>State</h3>
                <ul>
                    <li>Created: <span th:text="${state.creationTime}"></span></li>
                    <li>Answers: <span th:text="${state.totalAnswers}"></span></li>
                    <li th:each="key : ${state.skills}">
                        Skill: <span th:text="${key.name}"></span>
                        <br/>
                        Distribution: <span th:each="d : ${state.skillDistribution.get(key.name)}"
                                            th:text="${#numbers.formatDecimal(d, 1, 2)}+' '"></span>
                        <br/>
                        Entropy: <span
                            th:text="${#numbers.formatDecimal(state.entropyDistribution.get(key.name), 1, 2)}"></span>
                    </li>
                </ul>
            </div>
            <input th:value="'▶'" type="submit"/>
        </div>
    </form>

    <div th:replace="fragments/layout :: footer"></div>
</div>

</body>
</html>