<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: layout">
    <title id="pageTitle">Adaptive Survey</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/layout :: header"></div>

    <div class="jumbotron" th:if="${error != null}">
        <p>Error</p>
        <p th:text="'Code:'+${code}"></p>
        <p th:text="'Error:'+${error}"></p>
    </div>

    <form method="post" th:action="''">
        <input th:name="questionId" th:value="${question.id}" type="hidden">
        <div class="jumbotron">
            <h1 th:text="'Question' + ${question.id}"></h1>
            <p th:text="${question.explanation}"></p>
            <p th:text="${question.question}"></p>

            <ul>
                <li th:each="answer : ${question.answers}">
                    <input th:id="'a'+${answer.id}" th:name="answerId" th:value="${answer.id}" type="radio"/>
                    <label th:for="'a'+${answer.id}" th:text="${answer.text}"></label>
                </li>
            </ul>

            <p th:if="${state != null}">
            <h3>State</h3>
            <ul>
                <li th:text="'Created: ' + ${state.creationTime}"></li>
                <li th:text="'Answers: ' + ${state.totalAnswers}"></li>
                <!--<li th:each="skill : ${state.skillCompleted}" th:text="${skill}"></li>-->
                <li th:each="key : ${state.skillDistribution.keySet()}">
                    <p>
                        <span th:text="'Skill: ' + ${key}"></span>
                        <br/>
                        Distribution: <span th:each="d : ${state.skillDistribution.get(key)}"
                                            th:text="${#numbers.formatDecimal(d, 1,2)}+' '"></span>
                        <br/>
                        <span th:if="${state.questionsPerSkill.containsKey(key)}"
                              th:text="'Questions: ' + ${state.questionsPerSkill.get(key)}"></span>
                    </p>
                </li>
            </ul>
            </p>
            <input th:value="'▶'" type="submit"/>
        </div>
    </form>

    <div th:replace="fragments/layout :: footer"></div>
</div>

</body>
</html>